/* common */
body{
    font-family: 'Roboto', sans-serif;
    background: #d5dee5;
}
.inner{
    width:1200px;
    margin:0 auto;
}
.section{
    position:relative;
}

/* fullpage navi */
#fp-nav > ul > li{
    position: relative;
    text-align: right;
    margin-bottom:3px;
}
#fp-nav > ul > li > a{
    display: block;
}
#fp-nav > ul > li > a > span{
    display: inline-block;
    background-color: #09141b;
    color:#fff;
    padding: 5px 10px 5px 20px;
    font-size: 13px;
    transform: translateX(calc(100% - 20px));
    transition: transform 0.5s;
}
#fp-nav > ul > li.active > a > span{
    transform: translateX(0);
}

/* main */

#section0 .wrap_link{
    text-align: center;
    position: absolute;
    left:0;
    top:50%;
    width:100%;
    margin-top:-195px;
}
#section0 .wrap_link > div{
    height:130px;
    overflow: hidden;
}
#section0 .wrap_link > div > a{
    color:#fff;
    opacity: 0.4;
    font-weight: 700;
    font-size:130px;
    display: inline-block;
    line-height: 130px;;
}
#section0 .wrap_link > div > a:hover{
    opacity: 1;
}
#section0 .wrap_bg{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    overflow: hidden;
}

#section0 .wrap_bg .bg{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    /*background: url(../img/img_main_01.jpg) no-repeat center center;*/
    background-size:cover;
    opacity: 0;
    transform: scale(1);
    transition: all 0.8s;
}

#section0 .wrap_bg.select_1 .bg:nth-child(1){
    background-image: url(../img/img_main_01.jpg);
}
#section0 .wrap_bg.select_2 .bg:nth-child(2){
    background-image: url(../img/img_main_02.jpg);
}
#section0 .wrap_bg.select_3 .bg:nth-child(3){
    background-image: url(../img/img_main_03.jpg);
}
#section0 .wrap_bg.select_1 .bg:nth-child(1),
#section0 .wrap_bg.select_2 .bg:nth-child(2),
#section0 .wrap_bg.select_3 .bg:nth-child(3){
    opacity: 1;
    transform: scale(1.25);
}


/* 메인 오브젝트 */
#section0 .ico{
    display: block;
    width:200px;
    height:200px;
    background: url(../img/ico_01.png) no-repeat center center;
    background-size: auto 100%;
    position: absolute;
    left:50%;
    top:50%;
    z-index: 10;
    transition: transform 1s ease-out;
}

#section0 .ico.ico_1{
    margin:-310px 0 0 330px;
    
}
#section0 .ico.ico_2{
    margin:0 0 0 -890px;
    top:auto;
    bottom:-220px;
    background-image: url(../img/ico_02.png);
    width:556px;
    height:376px;
}

/* PROFILE */
#section1 .wrap_link{
    position: absolute;
    width: 100%;
    text-align: center;
    left:0;
    top:50%;
    height:60px;
    margin-top:-30px;
}
#section1 .wrap_link > div{
    display: inline-block;
}
#section1 .wrap_link > div a{
    font-size:80px;
    font-weight: 700;
    vertical-align: middle;
}
#section1 .wrap_link > div a:hover{
    color:#fff;
}
#section1 .wrap_link > div + div:before{
    content:'';
    display: inline-block;
    width:80px;
    height:5px;
    background-color: #000;
    vertical-align: middle;
    margin:0 20px;
}

/* profile bg */
#section1 .wrap_bg{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    overflow: hidden;
}
#section1 .wrap_bg .bg{
    height:100px;
}

#section1 .wrap_bg.select_1 .bg{
    animation: ani-bg1 6s linear infinite;
    background: url(../img/section1_txt_0.png) repeat-x left center;
}
#section1 .wrap_bg.select_1 .bg.reverse{
    animation-name: ani-bg1-reverse;
}

@keyframes ani-bg1{
    0%{background-position-x: 0}
    100%{background-position-x:-690px;}
}
@keyframes ani-bg1-reverse{
    0%{background-position-x: 0}
    100%{background-position-x:690px;}
}

#section1 .wrap_bg.select_2 .bg{
    animation: ani-bg2 6s linear infinite;
    background: url(../img/section1_txt_1.png) repeat-x left center;
 }
 #section1 .wrap_bg.select_2 .bg.reverse{
    animation-name: ani-bg2-reverse;
}
@keyframes ani-bg2{
    0%{background-position-x: 0}
    100%{background-position-x:-634px;}
}
@keyframes ani-bg2-reverse{
    0%{background-position-x: 0}
    100%{background-position-x:634px;}
}

#section1 .wrap_bg.select_3 .bg{
    animation: ani-bg3 6s linear infinite;
    background: url(../img/section1_txt_2.png) repeat-x left center;
 }
 #section1 .wrap_bg.select_3 .bg.reverse{
    animation-name: ani-bg3-reverse;
}
@keyframes ani-bg3{
    0%{background-position-x: 0}
    100%{background-position-x:-783px;}
}
@keyframes ani-bg3-reverse{
    0%{background-position-x: 0}
    100%{background-position-x:783px;}
}

